div.modifyPatternContainer {

	margin: 0px 0px 0px 0px

}


div.modifyPatternContainer hr{

	margin: 10px 0px 0px 0px;
}

div.modifyPatternContainer  div.modifyPatternBackAwaySection {

	margin: 20px 0px 0px 10px;
}

div.modifyPatternContainer div.modifyPatternContentSection {

	margin: 20px 0px 0px 10px;
}
